.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body {
  margin: 0; /* ボディのデフォルトマージンを削除 */
  background-color: black; /* 背景を黒に設定 */
  color: white; /* テキストを白に設定 */
  height: 100vh; /* ビューポート全体をカバー */
}